<div class="container">
    <div class="row">
            <div *ngFor="let image of listing.images;" class="col-md-2">
                    <img [src]="'http://localhost:8085'+image.image_url" class="img-thumbnail">
                    <button class="btn btn-danger btn-sm" (click)="removeImage(image.id)">Delete Image</button>
            </div>

    </div>
    
</div>


<div (click)="onAddImage()">Add Image</div>

<form [formGroup]="uploadImages" (ngSubmit)="onSubmit()" >

    <div formArrayName="images">
        <div *ngFor="let ctrl of images.controls ; let i=index">
            <!-- The repeated alias template -->
            <label>
              Image:
              <input type="file" (change)="onSelectEvent($event, i)" [formControlName]="i">
            </label>
            <p (click)="onRemoveImage(i)">remove</p>
          </div>
          <div class="form-group">
              <input type="submit"value="submit">
            </div>

    </div>

    <pre>{{ uploadImages.value| json}} </pre>




</form>